*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul .header-login-button{
    background-color: #a72020;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul .header-login-button:active{
    transform: scale(0.9); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.search-bar{
    padding-top: 10em;
    text-align: center;
}
.search-container{
    width: max-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    border-radius:28px ;
    background-color: #ebebeb;
    margin-top: 1em;
    max-width: 100%;
    width: 50em;
    transition: background 0.25s ease;
}
.search-container:focus-within{
    background-color: rgb(201, 200, 200);
}
.search-container:focus-within .fa-search{
    color: black;
}
.search-bar h1{
    font-weight: 700;
}
.search-input{
    font-size: 16px;
    font-family: "Poppins";
    color: #333333;
    margin-left: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
}
.search-input::placeholder,
.fa-search{
    color: rgba(0, 0, 0, 0.25);
}





.shop-grid-container{
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    place-items: center;
    padding-inline: 4em;
    padding-block: 2em;
    
}


@media (max-width: 1024px) {
    .shop-grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 2em;
    }
}

   
@media (max-width: 768px) {
    .shop-grid-container {
        grid-template-columns: repeat(1, 1fr); 
        padding-inline: 1em;
    }

   
    .shop-grid-item img {
        width: 80%;  
        height: auto; 
    }
}

.item-card .shop-item-description p{
    opacity: .8;
    
}
.shop-grid-container .item-card .shop-image-container{
    position: relative; 
    overflow: hidden;
    box-shadow: none; 
    border-radius: .2em;
}

.shop-grid-container .item-card .shop-image-container img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-color: rgb(231, 229, 229);

}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block: 2.3em;
    max-width: 100%;
    min-width: 50%;
    flex-wrap: wrap; 
}

.pagination .page-link {
    color: black;
    border-color: gray;
    transition: ease .2s all;
    padding-inline: 1.5em;
    font-size: 1rem;
}

.pagination .page-link:hover {
    background-color: rgb(168, 164, 164);
    font-weight: 700;
    color: black;
}

.pagination .page-link:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}


@media (max-width: 768px) {
    .pagination .page-link {
        padding-inline: 1em;
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .pagination .page-link {
        padding-inline: 1.2em;
        font-size: 0.8rem; 
    }
}


.footer-container{
    background-color: rgb(168, 164, 164);
    margin: 0;
    padding: 0;
    width: 100%;
}
.grid-footer-section{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding-inline: 10em;
    padding-block: 2.3em;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-bottom: 2px solid black;
}
.row.col-4 {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.row.col-4 .info-details{
    display: flex;
}
.row.col-4 .info-details p{
    margin-right: .4em;
}

@media screen and (max-width:1020px){
    .grid-footer-section{
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width:680px){
    .grid-footer-section{
        padding-inline: 2em;
    }

}

@media screen and (max-width:500px){
    .grid-footer-section{
        display: block;
        margin: 0 auto;
    }
}
.contact-us-info {
   
    grid-column: 1 / -1; 
    width: 100%;
    border-top: 1px solid black;
    width: 100%; 
    padding: 1em; 
    display: block; 
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}


.contact-us-info .social-icons img{
    width: 40px;
    height: 40px;
    margin-inline: .8em;
    border: 1px solid white;
    border-radius: 50%;
    filter: grayscale(100%);
    padding: .2em;
    transition: all .50s ease;
}
.contact-us-info .social-icons img:hover{
    filter:none;
    transform: scale(1.2);
}
@media screen and (max-width:550px){
    .contact-us-info{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width:550px){
    .pagination .page-link {
        font-size: 15px;
    }

}

.contact-us-info h3{
    font-weight: 700;
}