* {
    font-family: Poppins;
}

/* Common popup styling */
.signup-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 4em;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(235, 234, 234);
    z-index: 1000000;
    margin-inline: 3em;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}

/* Active state */
.signup-popup.active {
    display: block;
    margin: 0 auto;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 20ms ease-in-out 0ms;
}

/* Close button */
.signup-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* Form header */
.signup-popup .form h2 {
    color: rgb(167, 20, 20);
    margin-bottom: .4em;
    font-size: 38px;
}

/* Form description */
.signup-popup .form p {
    opacity: .7;
}

/* Form elements */
.signup-popup .form .form-element {
    margin: 15px 0;
}

/* Input fields styling */
.signup-popup .form .form-element input[type="text"], 
.signup-popup .form .form-element input[type="email"], 
.signup-popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.signup-popup .form .form-element input:focus-within {
    background-color: rgb(241, 237, 237);
}

/* Sign-Up button */
.signup-popup .form .form-element .signup-button {
    width: 100%;
    padding: .6em;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(167, 20, 20);
    color: #f5f5f5;
    cursor: pointer;
    border-radius: .2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

/* Active state for sign-up button */
.signup-popup .form .form-element .signup-button:active {
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Google Sign-Up button */
.signup-popup .form .form-element .google-sign-up {
    width: 100%;
    padding: .6em;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: rgb(233, 230, 230);
    cursor: pointer;
    border-radius: .2em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    color: black;
}

/* Google icon */
.signup-popup .form .form-element .google-sign-up img {
    height: 34px;
}

/* Active state for Google Sign-Up button */
.signup-popup .form .form-element .google-sign-up:active {
    transform: scale(0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Sign-Up prompt */
.signup-popup .signup-prompt {
    text-align: center;
    font-size: 14px;
}

.signup-popup .signup-prompt span {
    opacity: .8;
    margin-right: .3em;
}
