*{
    scroll-behavior: smooth;
    scroll-padding:8em;
}

body{
    overflow-x: hidden;
}
.home-container {
    background: linear-gradient(to right, #f8d5e0, #ffffff);
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 40px;
    font-family: "Poppins";
}

.home-container img {
    width: 80%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: top;
    filter: saturate(150%);
}

.home-text {
    margin-inline: 2.3em;
    width: 60%;
    padding-block: 3em;
}

.home-text > * {
    margin-block: 1.2em;
}

.home-text h1 {
    font-size: 3.3rem;
    margin-bottom: 8px;
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .home-container img {
        width: 100%;
    }
    .home-text {
        width: 100%;
        text-align: center;
        padding-block: 2em;
    }
    .home-text h1 {
        font-size: 2.5rem;
    }
}

span {
    color: rgb(167, 20, 20);
}

button {
    background-color: #a72020; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 1.2rem; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active{
    transform: scale(0.9); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.featured-details button:active{
    transform: scale(0.9); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}





.about-us{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1.5rem;
    align-items: center;
    font-family: Poppins;
    background-color: rgb(245, 242, 242);
    margin: 0 auto;
    padding-inline: 2em;
}

.about-img img{
    max-width: 100%;
    width: 380px;
    height: auto;
}
.about-text {
    width: 80%;
}

.about-text span{
    color: rgb(167, 20, 20);
    font-weight: 700;
}

.about-text h2{
    font-size: 42px;
    font-weight: 700;
}
.about-text p{
    margin-block: 2em;
    line-height: 1.7em;
}
@media screen and (max-width:725px){
    .about-us{
        grid-template-columns: 1fr;
        place-items: center;
    }
}


.featured{
    margin-block: 3em;
    padding-inline: 3em;
}
.featured .featured-title{
    margin-inline: .5em;
    margin-block: 2em;
}

.featured .featured-title h1{
    font-size: 42px;
    font-weight: 700;
}

.featured-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    overflow-x: hidden;
}

.featured-card {
    flex: 1 1 300px;
    margin: .5em;
    max-width: 430px;
    position: relative; 
    overflow: hidden;
    box-shadow: none; 
    border-radius: .2em;
}

.featured-card img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-color: rgb(231, 229, 229);
}

.featured-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
    z-index: 1; 
}

.featured-card .featured-details {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    transition: bottom 0.5s ease-in-out;
    color: white;
    z-index: 2; 
}

.featured-card:hover::after {
    opacity: 1; 
}

.featured-card:hover .featured-details {
    bottom: 70px;
}

.featured-card .featured-details p {
    font-size: 28px;
}

.featured-card .featured-details button {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.featured-card:hover .featured-details button {
    opacity: 1;
    transform: translateY(0); 
}

.featured-details button {
    transform: translateY(10px); 
}


@media screen and (max-width:735px){
    .featured .featured-title{
        text-align: center;
    }
}



.testimonial-container{
    max-width: 1170px;
    margin: auto;
    padding: 2em 15px;
}

.section-header{
    text-align: center;
    margin-bottom: 30px;
}

.section-header .title{
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-header span{
    font-weight: 700;
}

.swiper-wrapper{
    padding-block: 3em;
}

.testimonials{
    padding: 100px 0 ;

}

.testimonials-item{
    background-color: rgb(231, 229, 229);
    padding: 30px;
    border-radius: .3em;
}
.testimonials-item .info{
    display: flex;
    align-items: center;

}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
}

.testimonials-item p{
    margin-top: 20px;

}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: orange;
}

.js-testimonials-slider{
    position: relative;
}

.swiper-pagination-bullet {
    background: #a72020 !important; 
}
.js-testimonials-slider .swiper-pagination {
    position: absolute;
    z-index: 20 !important; 
}

@media screen and (max-width:350px){
    .testimonials-item img{
        max-width: 65px;
    }

    .testimonials-item .name{
        font-size: 20px;
    }


    .testimonials-item p{
        font-size: 14px;
    }
}


.footer-container{
    background-color: rgb(168, 164, 164);
    margin-top:5em;
    padding: 0;
    width: 100%;
}
.grid-footer-section{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding-inline: 10em;
    padding-block: 2.3em;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-bottom: 2px solid black; 
}

.row.col-4 {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.row.col-4 .info-details{
    display: flex;
}
.row.col-4 .info-details p{
    margin-right: .4em;
}


@media screen and (max-width:1020px){
    .grid-footer-section{
        grid-template-columns: 2fr 2fr;
    }
}



@media screen and (max-width:500px){
    .grid-footer-section{
        display: block;
        margin: 0 auto;
    }

}
.contact-us-info {
   
    grid-column: 1 / -1; 
    width: 100%;
    border-top: 1px solid black;
    width: 100%; 
    padding-top: 1em; 
    display: block; 
    margin-top: 1em;
    display: flex;
    justify-content: space-between;

}


.contact-us-info .social-icons img{
    width: 40px;
    height: 40px;
    margin-inline: .8em;
    border: 1px solid white;
    border-radius: 50%;
    filter: grayscale(150%);
    padding: .2em;
    transition: all .50s ease;
}
.contact-us-info h3{
    font-weight: 700;
}
.contact-us-info .social-icons img:hover{
    filter:none;
    transform: scale(1.2);
}

@media screen and (max-width:680px){
    .grid-footer-section{
        padding-inline: 2em;
    }

}

@media screen and (max-width:550px){
    .contact-us-info{
        display: block;
        text-align: center;
    }
    
}
